.cell{
  position: absolute;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 10px;
}

.unColored{
  background-color: white;
}

.red{
  background-color: red;
}

.lightRed{
  background-color: lightcoral;
}

.blue{
  background-color: blue;
}

.lightblue{
  background-color: lightblue;
}

.yellow{
  background-color: yellow;
}