.cell{
  position: absolute;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 10px;
}

.uncolored{
  background-color: white;
}

.red{
  background-color: red;
}

.lightRed{
  background-color: lightcoral;
}

.blue{
  background-color: blue;
}

.lightBlue{
  background-color: skyblue;
}

.yellow{
  background-color: yellow;
}